#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --mainCol: #3a9898;
  --secondary: #1e0b0b;
  --accent: #43b1b1;
}

.is-rounded {
  border-radius: 10px;
}

.has-background-main {
  background-color: var(--mainCol);
}

.has-background-secondary {
  background-color: var(--secondary);
}

.has-background-accent {
  background-color: var(--accent);
}

.has-background-brand {
  background-image: url(./images/brand.png);
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}